node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
# Subgraph
nft-auction-subgraph/generated/
nft-auction-subgraph/build/
# Matchstick
nft-auction-subgraph/tests/.*/
# Graph Local
data/ipfs/*
data/postgres/*
